<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>销售代表</string>
		<string>服务员</string>
		<string>营业员</string>
		<string>快递员</string>
		<string>文员</string>
		<string>普工</string>
		<string>招生顾问</string>
		<string>客服专员</string>
		<string>平面设计</string>
		<string>投资顾问</string>
	</array>
	<array>
		<string>行政专员</string>
		<string>文员</string>
		<string>前台</string>
		<string>后勤</string>
		<string>行政助理</string>
		<string>行政经理</string>
		<string>行政总监</string>
		<string>图书管理</string>
		<string>党工团干事</string>
	</array>
	<array>
		<string>电话销售</string>
		<string>销售代表</string>
		<string>客户经理</string>
		<string>售前</string>
		<string>团购销售</string>
		<string>医药代表</string>
		<string>汽车销售</string>
		<string>销售助理</string>
		<string>销售经理</string>
		<string>商务经理</string>
		<string>渠道专员</string>
		<string>渠道经理</string>
		<string>大客户</string>
		<string>销售总监</string>
		<string>网络销售</string>
		<string>经销商</string>
		<string>会籍顾问</string>
		<string>业务拓展</string>
		<string>招商经理</string>
		<string>客户主管</string>
		<string>行政经理</string>
		<string>运营经理</string>
		<string>培训师</string>
		<string>业务分析</string>
		<string>销售工程师</string>
	</array>
	<array>
		<string>服务员</string>
		<string>面点师</string>
		<string>茶艺师</string>
		<string>配菜/打荷</string>
		<string>传菜员</string>
		<string>洗碗工</string>
		<string>后厨杂工</string>
		<string>领班</string>
		<string>迎宾/礼仪</string>
		<string>预订员</string>
		<string>调酒师</string>
		<string>学徒</string>
		<string>送餐员</string>
		<string>主持/司仪</string>
		<string>预订部主管</string>
		<string>大堂经理</string>
		<string>前厅部经理</string>
		<string>楼面经理</string>
		<string>厨师</string>
		<string>粤菜厨师</string>
		<string>鲁菜厨师</string>
		<string>凉菜厨师</string>
		<string>日韩厨师</string>
		<string>川菜厨师</string>
		<string>湘菜厨师</string>
		<string>西餐厨师</string>
		<string>拉面师</string>
		<string>烧烤师</string>
		<string>食堂厨师</string>
		<string>咖啡师</string>
		<string>餐饮店长</string>
		<string>饮品店员</string>
		<string>行政主厨</string>
		<string>品酒师</string>
		<string>行李员</string>
		<string>清洁服务</string>
		<string>试睡员</string>
		<string>餐饮管理</string>
		<string>宴会管理</string>
		<string>安全消防</string>
		<string>楼层经理</string>
		<string>洗衣房经理</string>
		<string>公共区域经理</string>
		<string>客服服务员</string>
		<string>房务部总监</string>
		<string>客房部经理</string>
		<string>预定经理</string>
		<string>总机经理</string>
		<string>总机员工</string>
		<string>前台主管</string>
		<string>礼宾经理</string>
		<string>宾客关系主任</string>
		<string>前厅部员工</string>
		<string>大堂副理</string>
		<string>值班经理</string>
		<string>酒店店长</string>
	</array>
	<array>
		<string>营业员</string>
		<string>导购</string>
		<string>收银员</string>
		<string>理货员</string>
		<string>采购员</string>
		<string>食品加工</string>
		<string>店长</string>
		<string>消防中控</string>
		<string>停车管理</string>
		<string>防损员</string>
		<string>督导</string>
		<string>买手</string>
		<string>奢侈品销售</string>
		<string>招商管理</string>
		<string>品类管理</string>
		<string>质量管理</string>
		<string>店员</string>
	</array>
	<array>
		<string>人事专员</string>
		<string>招聘专员</string>
		<string>薪资专员</string>
		<string>绩效专员</string>
		<string>培训专员</string>
		<string>猎头顾问</string>
		<string>人事经理</string>
		<string>招聘经理</string>
		<string>薪资经理</string>
		<string>绩效经理</string>
		<string>培训经理</string>
		<string>人事总监</string>
		<string>企业讲师</string>
		<string>员工关系</string>
		<string>HRIS管理</string>
	</array>
	<array>
		<string>普工</string>
		<string>电工</string>
		<string>木工</string>
		<string>焊工</string>
		<string>水工</string>
		<string>油漆工</string>
		<string>建筑工人</string>
		<string>水泥工</string>
		<string>钢筋工</string>
		<string>管道工</string>
		<string>瓦工</string>
		<string>洗车工</string>
		<string>汽车维修</string>
		<string>机电维修</string>
		<string>电器维修</string>
		<string>综合维修工</string>
		<string>锅炉工</string>
		<string>水暖工</string>
		<string>车工</string>
		<string>铣工</string>
		<string>模具工</string>
		<string>钳工</string>
		<string>钣金工</string>
		<string>切割技工</string>
		<string>操作工</string>
		<string>搬运工</string>
		<string>送水工</string>
		<string>叉车工</string>
		<string>组装工</string>
		<string>包装工</string>
		<string>印刷工</string>
		<string>压熨工</string>
		<string>缝纫工</string>
		<string>样衣工</string>
		<string>染工</string>
		<string>纺织工</string>
		<string>印花工</string>
		<string>制冷工</string>
		<string>磨床/冲床</string>
		<string>拖压工</string>
		<string>仪表工</string>
		<string>电镀工</string>
		<string>砌筑工</string>
		<string>混泥土工</string>
		<string>浇注工</string>
		<string>抹灰工</string>
		<string>施工开料</string>
		<string>施压工</string>
		<string>折弯工</string>
		<string>刨/钻/镗/铆工</string>
		<string>抛光工</string>
		<string>硫化/炼胶</string>
		<string>吹膜/注塑</string>
		<string>工长</string>
		<string>电梯工</string>
	</array>
	<array>
		<string>仓库管理</string>
		<string>快递员</string>
		<string>跟单员</string>
		<string>调度员</string>
		<string>报关员</string>
		<string>安检员</string>
		<string>采购经理</string>
		<string>物流经理</string>
		<string>物流专员</string>
		<string>外贸经理</string>
		<string>国内贸易</string>
		<string>陆海空运</string>
		<string>销售</string>
		<string>驾驶操作</string>
		<string>乘务</string>
		<string>船员/船长</string>
		<string>地勤人员</string>
		<string>交通管理</string>
		<string>供应商开发</string>
		<string>订单处理员</string>
		<string>物料经理</string>
		<string>物流销售</string>
		<string>集装箱操作</string>
		<string>海关事务</string>
		<string>项目经理</string>
		<string>供应链主管</string>
		<string>货运代理</string>
		<string>运输经理</string>
		<string>单证员</string>
		<string>理货/分拣</string>
		<string>项目管理</string>
		<string>质量管理</string>
	</array>
	<array>
		<string>专车司机</string>
		<string>商务司机</string>
		<string>客车司机</string>
		<string>货车司机</string>
		<string>出租车</string>
		<string>班车司机</string>
		<string>特种车</string>
		<string>驾校教练</string>
		<string>代驾</string>
		<string>列车操作</string>
		<string>船舶操作</string>
		<string>飞机操作</string>
		<string>公交乘务</string>
		<string>列车乘务</string>
		<string>船舶乘务</string>
		<string>船员/水手</string>
		<string>航空乘务</string>
		<string>吊车/卡车</string>
	</array>
	<array>
		<string>保洁</string>
		<string>保安</string>
		<string>保姆/护工</string>
		<string>月嫂/育婴</string>
		<string>钟点工</string>
		<string>洗衣工</string>
		<string>婚庆策划</string>
		<string>家电维修</string>
		<string>手机维修</string>
		<string>电脑维修</string>
		<string>话务员</string>
	</array>
	<array>
		<string>淘宝客服</string>
		<string>店铺运营</string>
		<string>业务支持</string>
		<string>店铺管理</string>
		<string>模特类</string>
		<string>活动策划</string>
		<string>淘宝美工</string>
	</array>
	<array>
		<string>财务助理</string>
		<string>会计</string>
		<string>出纳</string>
		<string>财务分析</string>
		<string>成本管理</string>
		<string>审计专员</string>
		<string>统计</string>
		<string>税务专员</string>
		<string>资产管理</string>
		<string>财务主管</string>
		<string>财务经理</string>
		<string>会计经理</string>
		<string>分析经理</string>
		<string>成本经理</string>
		<string>审计经理</string>
		<string>税务经理</string>
		<string>财务总监</string>
		<string>财务顾问</string>
		<string>首席财务官</string>
	</array>
	<array>
		<string>客服专员</string>
		<string>呼叫中心</string>
		<string>售后支持</string>
		<string>电话客服</string>
		<string>在线客服</string>
		<string>客服经理</string>
		<string>客户关系</string>
		<string>售后经理</string>
		<string>客服总监</string>
		<string>投诉专员</string>
	</array>
	<array>
		<string>教师</string>
		<string>助教</string>
		<string>家教</string>
		<string>幼教</string>
		<string>产品开发</string>
		<string>培训助理</string>
		<string>培训师</string>
		<string>培训策划</string>
		<string>教学管理</string>
		<string>招生顾问</string>
		<string>科研人员</string>
		<string>科研管理</string>
		<string>志愿者</string>
		<string>培训生</string>
		<string>拓展训练师</string>
		<string>公务员培训</string>
		<string>实习生</string>
		<string>毕业生</string>
		<string>储备干部</string>
		<string>音乐教师</string>
		<string>英语教师</string>
		<string>舞蹈教师</string>
		<string>美术教师</string>
		<string>体育教师</string>
		<string>外籍教师</string>
		<string>校长/副校长</string>
		<string>培训督导</string>
	</array>
	<array>
		<string>美术编辑</string>
		<string>产品设计</string>
		<string>装潢设计</string>
		<string>平面设计</string>
		<string>动画设计</string>
		<string>珠宝设计</string>
		<string>店面设计</string>
		<string>印刷排版</string>
		<string>管理人员</string>
		<string>CAD设计</string>
		<string>创意总监</string>
		<string>工业设计</string>
		<string>绘画师</string>
		<string>游戏设计</string>
		<string>视频设计</string>
		<string>包装设计</string>
		<string>舞蹈美术</string>
		<string>3D设计</string>
		<string>UI设计</string>
		<string>三维设计</string>
		<string>Flash设计</string>
		<string>特效设计</string>
		<string>家居设计</string>
		<string>玩具设计</string>
		<string>音效设计</string>
		<string>用户体验</string>
		<string>网站策划</string>
		<string>界面设计</string>
	</array>
	<array>
		<string>摄影师</string>
		<string>摄影</string>
		<string>编导</string>
		<string>配音</string>
		<string>影视策划</string>
		<string>后期制作</string>
		<string>化妆师</string>
		<string>舞蹈演员</string>
		<string>歌手</string>
		<string>主持人</string>
		<string>模特</string>
		<string>导演助理</string>
		<string>化妆助理</string>
		<string>摄影助理</string>
		<string>灯光助理</string>
		<string>服装助理</string>
		<string>驻唱/歌手</string>
		<string>演员</string>
		<string>艺术指导</string>
		<string>放映管理</string>
		<string>转播工程师</string>
		<string>调色员</string>
		<string>音效师</string>
		<string>主播/经纪人</string>
		<string>DJ</string>
	</array>
	<array>
		<string>公关员</string>
		<string>市场专员</string>
		<string>市场经理</string>
		<string>市场策划</string>
		<string>市场营销</string>
		<string>市场调研</string>
		<string>市场拓展</string>
		<string>媒介专员</string>
		<string>媒介经理</string>
		<string>会展专员</string>
		<string>企划经理</string>
		<string>公共媒介</string>
		<string>会务经理</string>
		<string>品牌经理</string>
		<string>促销经理</string>
		<string>广告创意</string>
		<string>市场总监</string>
		<string>活动策划</string>
		<string>网站推广</string>
		<string>媒介销售</string>
		<string>政府事务</string>
		<string>学术推广</string>
		<string>新店开发</string>
		<string>市场通路</string>
	</array>
	<array>
		<string>建造师</string>
		<string>装潢设计</string>
		<string>土木工程</string>
		<string>建筑设计</string>
		<string>造价师</string>
		<string>预算员</string>
		<string>测绘员</string>
		<string>施工员</string>
		<string>材料员</string>
		<string>岩土</string>
		<string>幕墙</string>
		<string>测量员</string>
		<string>工程验收</string>
		<string>制冷通暖</string>
		<string>设备工程</string>
		<string>路桥/隧道</string>
		<string>城市规划</string>
		<string>公路桥梁</string>
		<string>工程管理</string>
		<string>安全管理</string>
		<string>工程师</string>
		<string>工程监理</string>
		<string>管理工程</string>
		<string>楼宇自动化</string>
		<string>建筑设计师</string>
		<string>建筑机电</string>
		<string>开发报建</string>
	</array>
	<array>
		<string>客户主管</string>
		<string>业务拓展</string>
		<string>会展策划</string>
		<string>企业策划</string>
		<string>文案策划</string>
		<string>婚礼策划</string>
		<string>美术指导</string>
		<string>制作执行</string>
		<string>项目管理</string>
		<string>媒介策划</string>
		<string>创意管理</string>
		<string>留学咨询</string>
		<string>客户经理</string>
		<string>设计总监</string>
	</array>
	<array>
		<string>柜员</string>
		<string>证券经纪人</string>
		<string>资产评估</string>
		<string>担保典当</string>
		<string>操盘手</string>
		<string>进出口结算</string>
		<string>银行会计</string>
		<string>投资顾问</string>
		<string>信贷管理</string>
		<string>风险管理</string>
		<string>股票操盘</string>
		<string>证券分析</string>
		<string>证券经理</string>
		<string>银行经理</string>
		<string>基金经理</string>
		<string>融资经理</string>
		<string>融资专员</string>
		<string>经济研究</string>
		<string>外汇交易</string>
		<string>项目管理</string>
		<string>信用卡推广</string>
		<string>综合业务</string>
		<string>产品经理</string>
		<string>投资主管</string>
		<string>公司业务</string>
		<string>个人业务</string>
		<string>客户经理</string>
		<string>行长/副行长</string>
	</array>
	<array>
		<string>美发师</string>
		<string>美发助理</string>
		<string>美容师</string>
		<string>美容助理</string>
		<string>洗头工</string>
		<string>美容顾问</string>
		<string>彩妆培训师</string>
		<string>化妆师</string>
		<string>形象设计师</string>
		<string>美甲师</string>
		<string>美体师</string>
		<string>美容店长</string>
		<string>美发店长</string>
		<string>美容导师</string>
		<string>宠物美容师</string>
	</array>
	<array>
		<string>技术支持</string>
		<string>软件工程</string>
		<string>硬件工程</string>
		<string>质量</string>
		<string>系统</string>
		<string>测试</string>
		<string>软件实施</string>
		<string>网络安全</string>
		<string>通信技术</string>
		<string>系统架构</string>
		<string>DBA</string>
		<string>游戏开发</string>
		<string>网页设计</string>
		<string>语音视频</string>
		<string>技术经理</string>
		<string>网络管理</string>
		<string>网站运营</string>
		<string>网站编辑</string>
		<string>网络推广</string>
		<string>项目经理</string>
		<string>需求分析</string>
		<string>产品经理</string>
		<string>通信研发</string>
		<string>移动通信</string>
		<string>电信网络</string>
		<string>有线传输</string>
		<string>无线通信</string>
		<string>通信电源</string>
		<string>通信标准化</string>
		<string>项目管理</string>
		<string>增值产品</string>
		<string>硬件工程师</string>
	</array>
	<array>
		<string>产品专员</string>
		<string>产品运营</string>
		<string>游戏策划</string>
		<string>网店运营</string>
		<string>SEO优化</string>
		<string>新媒体运营</string>
		<string>数据运营</string>
		<string>市场运营</string>
		<string>运营专员</string>
		<string>内容运营</string>
		<string>电子商务</string>
		<string>运营总监</string>
	</array>
	<array>
		<string>健身教练</string>
		<string>瑜伽教练</string>
		<string>瘦身顾问</string>
		<string>舞蹈老师</string>
		<string>台球教练</string>
		<string>游泳教练</string>
		<string>高尔夫助理</string>
		<string>救生员</string>
	</array>
	<array>
		<string>房产经纪</string>
		<string>置业顾问</string>
		<string>房产店员</string>
		<string>房产店长</string>
		<string>房产内勤</string>
		<string>房产策划</string>
		<string>房产投标</string>
		<string>房产评估</string>
		<string>房产销售</string>
		<string>房产配套</string>
		<string>房产中介</string>
		<string>项目管理</string>
		<string>资产管理</string>
		<string>检查人员</string>
		<string>地产客服</string>
		<string>投资分析</string>
	</array>
	<array>
		<string>经纪人</string>
		<string>精算师</string>
		<string>核保/理赔</string>
		<string>客户服务</string>
		<string>保险顾问</string>
		<string>车险专员</string>
		<string>保险客服</string>
		<string>续期管理</string>
		<string>培训师</string>
		<string>储备经理</string>
		<string>产品开发</string>
		<string>保险内勤</string>
		<string>契约管理</string>
		<string>业务经理</string>
		<string>理财规划</string>
		<string>汽车定损</string>
	</array>
	<array>
		<string>按摩师</string>
		<string>足疗师</string>
		<string>针灸推拿</string>
		<string>搓澡工</string>
	</array>
	<array>
		<string>专业顾问</string>
		<string>咨询员</string>
		<string>调研员</string>
		<string>涉外咨询</string>
		<string>咨询经理</string>
		<string>咨询总监</string>
		<string>数据分析</string>
		<string>情报分析</string>
		<string>项目管理</string>
	</array>
	<array>
		<string>销售/客服</string>
		<string>配件销售</string>
		<string>装饰美容</string>
		<string>检验检测</string>
		<string>旧车评估</string>
		<string>4S店管理</string>
		<string>汽车美容</string>
		<string>汽车钣金</string>
		<string>汽车喷漆</string>
		<string>动力系统</string>
		<string>底盘/总装</string>
		<string>车身设计</string>
		<string>汽车电子</string>
		<string>二手车评估</string>
		<string>加油站员工</string>
		<string>理赔专业</string>
		<string>停车管理员</string>
		<string>汽车修理</string>
		<string>汽车机械</string>
		<string>零部件设计</string>
		<string>装配工艺</string>
		<string>安全性能</string>
		<string>项目管理</string>
		<string>汽车机构</string>
		<string>汽车电工</string>
		<string>质量管理</string>
	</array>
	<array>
		<string>种植人员</string>
		<string>饲料业务</string>
		<string>养殖人员</string>
		<string>农艺师</string>
		<string>畜牧师</string>
		<string>园艺设计</string>
		<string>养殖主管</string>
		<string>插画设计</string>
		<string>场长</string>
	</array>
	<array>
		<string>剪裁工</string>
		<string>配色工</string>
		<string>挡车工</string>
		<string>浆纱工</string>
		<string>整经工</string>
		<string>细纱工</string>
		<string>裁剪工</string>
		<string>烫工</string>
		<string>服装设计</string>
		<string>鞋子设计</string>
		<string>服装制版</string>
		<string>纸样师</string>
		<string>电脑放码员</string>
		<string>面料采购</string>
		<string>服装工艺师</string>
		<string>设计总监</string>
		<string>生产管理</string>
		<string>质量管理</string>
	</array>
	<array>
		<string>招商经理</string>
		<string>研发/注册</string>
		<string>制药</string>
		<string>临床研究</string>
		<string>项目经理</string>
		<string>质量管理</string>
		<string>医疗器械</string>
		<string>医疗推广</string>
		<string>临床推广</string>
		<string>医药分析</string>
	</array>
	<array>
		<string>公司负责人</string>
		<string>首席运营</string>
		<string>首席执行官</string>
		<string>首席技术官</string>
		<string>副总裁</string>
		<string>总经理</string>
		<string>办事处代表</string>
		<string>投资关系</string>
		<string>策略发展</string>
		<string>总监</string>
		<string>总裁经理</string>
		<string>合伙人</string>
		<string>公务员</string>
	</array>
	<array>
		<string>内科医生</string>
		<string>外科医生</string>
		<string>专科医生</string>
		<string>牙科医生</string>
		<string>整容整形</string>
		<string>理疗师</string>
		<string>中医</string>
		<string>产科医生</string>
		<string>儿科医生</string>
		<string>心理医生</string>
		<string>营养师</string>
		<string>医药检验</string>
		<string>保健医生</string>
		<string>导医</string>
		<string>护士</string>
		<string>护士长</string>
		<string>公共卫生</string>
		<string>宠物医生</string>
		<string>验光师</string>
		<string>麻醉师</string>
		<string>药剂师</string>
		<string>美容整形师</string>
		<string>护理主任</string>
		<string>医院管理</string>
		<string>影像科医师</string>
		<string>疾病控制</string>
		<string>综合门诊</string>
	</array>
	<array>
		<string>程序员</string>
		<string>技术专员</string>
		<string>Web开发</string>
		<string>网站开发</string>
		<string>PHP开发</string>
		<string>Java开发</string>
		<string>C语言开发</string>
		<string>安卓开发</string>
		<string>iOS开发</string>
		<string>ERP开发</string>
		<string>算法工程师</string>
		<string>系统架构师</string>
		<string>软件研发</string>
		<string>嵌入式软件</string>
		<string>移动端开发</string>
		<string>脚本开发</string>
		<string>辅助设计师</string>
	</array>
	<array>
		<string>游戏测试</string>
		<string>系统测试</string>
		<string>软件测试</string>
		<string>硬件测试</string>
		<string>网络工程</string>
		<string>标准化</string>
		<string>配置管理</string>
		<string>硬件维护</string>
		<string>系统管理</string>
		<string>网络管理</string>
		<string>技术支持</string>
		<string>文档助理</string>
		<string>ERP实施</string>
		<string>信息技术</string>
	</array>
	<array>
		<string>化工工程师</string>
		<string>化工研发</string>
		<string>实验研究</string>
		<string>化学分析</string>
		<string>技术应用</string>
		<string>化学操作</string>
		<string>制剂研发</string>
		<string>塑料工程</string>
		<string>橡胶工程</string>
		<string>配色技术</string>
		<string>化妆品研发</string>
		<string>造纸研发</string>
		<string>涂料研发</string>
		<string>食品研发</string>
		<string>化工管理</string>
		<string>技术总监</string>
	</array>
	<array>
		<string>机械工程</string>
		<string>模具工程</string>
		<string>仪器仪表</string>
		<string>机械设计</string>
		<string>机械制图</string>
		<string>机电工程</string>
		<string>精密机械</string>
		<string>铸造工程</string>
		<string>注塑工程</string>
		<string>CNC工程</string>
		<string>冲压工程</string>
		<string>夹具工程</string>
		<string>锅炉工程</string>
		<string>焊接工程</string>
		<string>汽车工程</string>
		<string>船舶工程</string>
		<string>飞行器</string>
		<string>机械维修</string>
		<string>包装机械</string>
		<string>食品机械</string>
		<string>纺织机械</string>
		<string>设备维修</string>
		<string>飞机维修</string>
		<string>飞机设计</string>
		<string>列车维修</string>
		<string>列车设计</string>
		<string>浮法操作</string>
		<string>设备经理</string>
		<string>装配工程师</string>
		<string>机械研发</string>
		<string>制程工程师</string>
		<string>气动工程师</string>
		<string>材料工程师</string>
		<string>工装工程师</string>
		<string>计量工程师</string>
		<string>航空航天</string>
		<string>研发经理</string>
		<string>产品策划</string>
		<string>实验室人员</string>
		<string>光伏系统</string>
		<string>轨道交通</string>
		<string>无损检测</string>
	</array>
	<array>
		<string>工艺设计</string>
		<string>化验/检验</string>
		<string>质量管理员</string>
		<string>设备管理</string>
		<string>技术工程师</string>
		<string>生产主管</string>
		<string>生产组长</string>
		<string>车间主任</string>
		<string>厂长</string>
		<string>总工程师</string>
		<string>生产计划</string>
		<string>石油/化工</string>
		<string>加油员</string>
		<string>生产总监</string>
		<string>维修工程师</string>
		<string>结构工程师</string>
		<string>制造工程师</string>
		<string>工业工程师</string>
		<string>包装工程师</string>
		<string>产品管理</string>
		<string>生产跟单</string>
		<string>物料管理</string>
		<string>认证工程师</string>
		<string>运营管理</string>
		<string>项目管理</string>
	</array>
	<array>
		<string>电子研发</string>
		<string>电气工程师</string>
		<string>电器工艺</string>
		<string>模拟电路</string>
		<string>版图设计</string>
		<string>电路设计</string>
		<string>IC验证</string>
		<string>电子工程师</string>
		<string>无线电</string>
		<string>设备工程师</string>
		<string>安防系统</string>
		<string>现场应用</string>
		<string>测试工程师</string>
		<string>极光技术</string>
		<string>线路设计</string>
		<string>半导体技术</string>
		<string>电源开发</string>
		<string>空调工程</string>
		<string>音频/视频</string>
		<string>电声/音响</string>
		<string>电器维修</string>
		<string>项目管理</string>
		<string>电子软件</string>
		<string>嵌入式软件</string>
		<string>嵌入式硬件</string>
	</array>
	<array>
		<string>电气工程</string>
		<string>光源照明</string>
		<string>磁电工程</string>
		<string>电路工程</string>
		<string>综合布线</string>
		<string>电力工程</string>
		<string>电器维修</string>
		<string>灯光照明</string>
		<string>水利/水电</string>
		<string>核力/火力</string>
		<string>燃气轮机</string>
		<string>空调/热能</string>
		<string>石油燃气</string>
		<string>自动控制</string>
		<string>项目管理</string>
		<string>地质勘探</string>
	</array>
	<array>
		<string>导游</string>
		<string>订票员</string>
		<string>计调</string>
		<string>订房服务</string>
		<string>签证专员</string>
		<string>签订业务</string>
		<string>产品销售</string>
		<string>产品策划</string>
		<string>旅游顾问</string>
		<string>潜水员</string>
		<string>驯兽师</string>
		<string>路线策划</string>
		<string>机场代表</string>
	</array>
	<array>
		<string>信托服务</string>
		<string>担保业务</string>
		<string>拍卖师</string>
		<string>典当业务</string>
		<string>珠宝鉴定</string>
	</array>
	<array>
		<string>污染物处理</string>
		<string>污水处理</string>
		<string>园林景区</string>
		<string>环保技术</string>
		<string>环境管理</string>
		<string>EHS管理</string>
		<string>环境评估</string>
		<string>环境监测</string>
		<string>水质监测</string>
		<string>固废处理</string>
		<string>气象</string>
		<string>生态治理</string>
		<string>环境工程师</string>
		<string>环境绿化</string>
		<string>核力/火电</string>
		<string>石油天然气</string>
	</array>
	<array>
		<string>编辑/记者</string>
		<string>录入/校队</string>
		<string>出版/发行</string>
		<string>排版/印刷</string>
		<string>装订/烫金</string>
		<string>主编/总编</string>
		<string>策划编辑</string>
		<string>采编</string>
		<string>排版设计</string>
		<string>数码直印</string>
		<string>电分/调墨</string>
		<string>打稿/切纸</string>
		<string>标胶/压痕</string>
	</array>
	<array>
		<string>律师</string>
		<string>法律顾问</string>
		<string>律师助理</string>
		<string>法务人员</string>
		<string>知识产权</string>
		<string>专利顾问</string>
		<string>合同管理</string>
		<string>合规经理</string>
	</array>
	<array>
		<string>物业顾问</string>
		<string>物业经理</string>
		<string>物业中心</string>
		<string>物业招商</string>
		<string>物业维修</string>
		<string>物业管理</string>
		<string>物业设施</string>
		<string>监控维护</string>
		<string>停车管理</string>
		<string>绿化工</string>
	</array>
	<array>
		<string>英语翻译</string>
		<string>日语翻译</string>
		<string>韩语翻译</string>
		<string>德语翻译</string>
		<string>法语翻译</string>
		<string>俄语翻译</string>
		<string>阿拉伯语翻译</string>
		<string>意大利语翻译</string>
		<string>西班牙语翻译</string>
		<string>葡萄牙语翻译</string>
		<string>泰语翻译</string>
		<string>中国方言翻译</string>
	</array>
</array>
</plist>
